html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.canvas3D {
  background-color: #4e4b4b;
}
body {
  background: #4e4b4b;
}
.panel {
  position: absolute;
}
.text-center {
  text-align: center;
}
.text-orange {
  color: orange;
}
.outlineRed {
  border: 2px solid orangered;
  border-radius: 10px;
  padding: 0.25% 1%;
}
.outlineBlack {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 1% 0 1%;
}
#textInfo {
  right: 5%;
  bottom: 10%;
}
#textTitle {
  right: 10%;
  top: 5%;
}
